<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>结算</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/settlement.css">
</head>

<body>
    <div class="container">
        <!-- 订单头部的title -->
        <div class="header">
            <header>
                <div>
                    <i class="return-icon"></i>
                    <div class="title">提交订单</div>
                </div>
            </header>
        </div>


        <div class="delivery-wrap">
            <div class="delivery-info border-bottom">
                <div class="receipt-address">
                    <div class="r-a-txt">选择收货地址</div>
                </div>

            </div>
            <div class="send-out">
                <span class="wait-icon"></span>
                <span class="send-text">
                    <span>立即送出</span>
                    (大约21:27送达)
                </span>
            </div>
        </div>

        <!-- 点单的具体信息 -->
        <div class="orderShop-wrap">
            <div class="orderShopInfo">
                <div class="order-shop-title">
                    <span class="shopPic"></span>
                    <span class="shopName">肯德基宅急送（千秋时代店）</span>
                    <span class="d-type"></span>
                </div>
                <!-- 商品列表 -->
                <div class="orderShops">
                    
                </div>
                <!-- 价格详情 -->
                <div class="priceDetail">
                    <div class="deliveryFee">
                        <div class="d-info">
                            <span class="d-txt">配送费</span>
                            <span class="d-price">¥9</span>
                        </div>
                    </div>
                </div>
                <div class="totalFee">
                    <div class="t-info">
                        <span class="f-all">共计￥17.5</span>
                        <span class="f-subtotal">小计<span class="f-num">¥17.5</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="other-option">
            <div class="pay-method">
                <span>支付方式</span>
                <span>在线支付</span>
            </div>
            <div class="table-num border-top">
                <span>餐具数量</span>
                <div class="r-info">
                    <span>选“无需餐具”，能量+10</span>
                    <span>未选择</span>
                </div>

            </div>
            <div class="remarks border-top">
                <span>备注</span>
                <span>口味、偏好等要求</span>
            </div>
            <div class="invoice border-top">
                <span>发票</span>
                <input type="checkbox">
            </div>
            
            <div class="invoice-input" style="display: none;">
                <div class="border-top"><input type="text" placeholder="请填写个人或公司名称" autocomplete="false" autofocus="false"></div>
                <div class="border-top"><input type="text" placeholder="请填写纳税人识别号(选填)" autocomplete="false" autofocus="false"></div>
            </div>
            
        </div>
        
        <div class="rule-tips">
            <span></span>
            <span>不清楚优惠规则?</span>
        </div>

        <!-- 底部提交订单支付 -->
        <div class="place-order">
            <div class="totalPrice">
                <span class="txt">合计</span><i>¥25.0</i>
            </div>
            <button type="button" class="submit">提交订单</button>
        </div>
    </div>
    <script src="../lib/pubsub.js"></script>
    <script src="../lib/zepto.js"></script>
    <script src="../js/settlement.js"></script>
</body>

</html>