<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>首页</title>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/order.css">
</head>
<body>
    <div class="main">
        <div class="no-order">
            <p>暂无订单,快去下单吧~</p>
        </div>
    </div>
    <nav class="tabs border-top">
    </nav>

    <script src="../lib/zepto.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../js/order.js"></script>
</body>
</html>