body, html {
    background-color: #f4f4f4;
}
.container {
  width: 100%;
  height: auto;
  background-color: #f4f4f4;
  position: relative;
  padding-bottom: 50px;
}
.header {
    position: relative;
}
header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #ffffff;
}
header>div {
    display: flex;
    align-items: center;
}
header .return-icon {
  width: 40px;
  height: 50px;
  display: block;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAcBAMAAACaHyIpAAAALVBMVEUAAAAzMzM7Ozs0NDQ0NDRTU1M1NTU2NjY0NDQzMzM0NDQ0NDQ1NTU0NDQzMzMPxrUyAAAADnRSTlMAzRDyswVWOUfWv5xcT/ntB10AAABBSURBVAjXYzjSwAABds+gjH3vEiCMkHdQIVY/qgpdgLCi3glAGMXvHMA0u91DBaiAENUEGOZBBRjkoAIMGgEQGgAzfiqv7+sDLwAAAABJRU5ErkJggg==)
    no-repeat;
  background-size: 20% 30%;
  background-position: center;
  transform: rotate(180deg);
}
header .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    
    font-family: "PingFangSC-Regular", Hiragino Sans GB, Arial, Helvetica, "\5B8B\4F53", sans-serif;
}

